<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.silvervue.ejdb"
        version="0.7.0">

  <name>EJDB Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/ejdb.js" target="js/mobi.js"/>

  <js-module src="www/ejdb.js" name="ejdb">
    <clobbers target="ejdb" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="EJDBPlugin">
        <param name="ios-package" value="EJDBPlugin" />
      </feature>
    </config-file>

    <framework src="libstdc++.6.dylib" />
    <framework src="libz.dylib" />

    <source-file src="src/ios/libs/libEJDBKit.a" framework="true"/>

    <header-file src="src/ios/headers/ejdb.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/bson.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/basedefs.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/ejdbutl.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/encoding.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/myconf.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/tcadb.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/tcbdb.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/tcfdb.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/tchdb.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/tctdb.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/tcutil.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/utf8proc.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/ejdb_private.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/EJDBKit.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/EJDBModel.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/EJDBQuery.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/EJDBQueryBuilder.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/EJDBCollection.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/BSONArchiving.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/BSONDecoder.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/BSONEncoder.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/EJDBDataBase.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/EJDBQueryBuilderDelegate.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/EJDBQueryOrderByHint.h" target-dir="EJDB"/>
    <header-file src="src/ios/headers/EJDBFIQueryBuilder.h" target-dir="EJDB"/>

    <header-file src="src/ios/EJDBPlugin.h" target-dir="EJDB"/>
    <source-file src="src/ios/EJDBPlugin.m" target-dir="EJDB"/>
    <header-file src="src/ios/NSString+LZCompression.h" target-dir="EJDB"/>
    <source-file src="src/ios/NSString+LZCompression.m" target-dir="EJDB"/>

  </platform>

</plugin>
